.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins

.idea/*
!.idea/runConfigurations

ios/fastlane/report.xml
ios/*.certSigningRequest
ios/*.p12
ios/*.cer
ios/Runner.app.dSYM.zip
ios/Runner.ipa